// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  font-family: 'Inconsolata', monospace;
}

.banner {
  color: $white;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  background-size: cover;
  background-position: center;
  font-family: 'Inconsolata', monospace;
}

.banner-center {
  text-align: center;
  background-color: $primary;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  box-shadow: 10px 10px 0px black;
  border: 2px solid white;
  padding: 20px 0;
}

.nav-item {
  margin-left: 10px;
}

.list-card {
  height: 250px;
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: center;
  text-align: center;
  justify-content: center;
  color: $white;
  font-size: 30px;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
  opacity: 0.8;
  box-shadow: 10px 10px 0px lightslategray;
  border: 3px solid black;
}

.list-card:hover {
  transform: scale(1.05);
}

.movie-img {
  height: 175px;
  object-fit: cover;
}

.movie-content p {
  font-size: small;
}

.new-form {
  width: 700px;
  height: 100vh;
  margin: 0 auto;
  padding-top: 100px;
}
